<%= Navigation("aboutus") %>
<div class="content">
	<h1>Meet the Team!</h1>
	<p>We are all volunteers! and are involved in the Oval Ski Club because of our interest in the sport.</p>
	<p>
		The club has an elected committee and several qualified instructors. However we also require additional helpers to make the club a success. If you are interested in helping out with the club on either a Saturday morning or Sunday evening then please contact one of the committee members or instructors (see below).
	</p>
	<br/>
	<h3>The Team...</h3>
</div>
