<%= Navigation("aboutus") %>
<div class="content">
	<h1>Meet the Team!</h1>
	<p>
		We are all volunteers! and are involved in the Oval Ski Club because of our interest in the sport.
	</p>
	<p>
		The club has an elected committee and several qualified instructors. However we also require additional helpers to make the club a success. If you are interested in helping out with the club on either a Saturday morning or Sunday evening then please contact one of the committee members or instructors (see below).
	</p>
	<br/>
	<h3>The Team...</h3>
	<ul id="team-ul" class="thumbnails">
		<li class="span2">
			<div class="thumbnail">
				<img src="http://placehold.it/160x120" alt="John Croft">
				<p>
					<strong>President:</strong>
				</p>
				<p>
					John Croft
				</p>
			</div>
		</li>
		<li class="span2">
			<div class="thumbnail">
				<p class="label label-info" style="position: absolute;">
					Instructor
				</p>
				<img src="http://placehold.it/160x120" alt="John Croft">
				<p>
					<strong>Chariman:</strong>
				</p>
				<p>
					John Wahlers
				</p>
			</div>
		</li>
		<li class="span2">
			<div class="thumbnail">
				<p class="label label-info" style="position: absolute;">
					Instructor
				</p>
				<img src="http://placehold.it/160x120" alt="John Croft">
				<p>
					<strong>Vice Chairman:</strong>
				</p>
				<p>
					Andrew Kearny
				</p>
			</div>
		</li>
		<li class="span2">
			<div class="thumbnail">
				<img src="http://placehold.it/160x120" alt="John Croft">
				<p>
					<strong>Secretary:</strong>
				</p>
				<p>
					Lorna McCarthy
				</p>
			</div>
		</li>
		<li class="span2">
			<div class="thumbnail">
				<p class="label label-info" style="position: absolute;">
					Instructor
				</p>
				<img src="http://placehold.it/160x120" alt="John Croft">
				<p>
					<strong>Race Secretary:</strong>
				</p>
				<p>
					Tony McClave
				</p>
			</div>
		</li>
		<li class="span2">
			<div class="thumbnail">
				<img src="http://placehold.it/160x120" alt="John Croft">
				<p>
					<strong> Social Secretary:</strong>
				</p>
				<p>
					Jane Croft
				</p>
			</div>
		</li>
		<li class="span2">
			<div class="thumbnail">
				<p class="label label-info" style="position: absolute;">
					Instructor
				</p>
				<img src="http://placehold.it/160x120" alt="John Croft">
				<p>
					<strong>Training Officer:</strong>
				</p>
				<p>
					Nick Spearpoint
				</p>
			</div>
		</li>
		<li class="span2">
			<div class="thumbnail">
				<img src="http://placehold.it/160x120" alt="John Croft">
				<p>
					<strong>Junior Rep:</strong>
				</p>
				<p>
					TBC
				</p>
			</div>
		</li>
		<li class="span2">
			<div class="thumbnail">
				<p class="label label-info" style="position: absolute;">
					Instructor
				</p>
				<img src="http://placehold.it/160x120" alt="John Croft">
				<p>
					<strong>CP Officer:</strong>
				</p>
				<p>
					Mel Wahlers
				</p>
			</div>
		</li>
		<li class="span2">
			<div class="thumbnail">
				<img src="http://placehold.it/160x120" alt="John Croft">
				<p>
					<strong>Member:</strong>
				</p>
				<p>
					Jenny Montague
				</p>
			</div>
		</li>
		<li class="span2">
			<div class="thumbnail">
				<p class="label label-info" style="position: absolute;">
					Instructor
				</p>
				<img src="http://placehold.it/160x120" alt="John Croft">
				<p>
					<strong>Member:</strong>
				</p>
				<p>
					Robert Coull
				</p>
			</div>
		</li>
		<li class="span2">
			<div class="thumbnail">
				<p class="label label-info" style="position: absolute;">
					Instructor
				</p>
				<img src="http://placehold.it/160x120" alt="John Croft">
				<p>
					<strong>Member:</strong>
				</p>
				<p>
					Nissa Coull
				</p>
			</div>
		</li>
		<li class="span2">
			<div class="thumbnail">
				<p class="label label-info" style="position: absolute;">
					Instructor
				</p>
				<img src="http://placehold.it/160x120" alt="John Croft">
				<p>
					<strong>Member:</strong>
				</p>
				<p>
					Philippa Watts
				</p>
			</div>
		</li>
		<li class="span2">
			<div class="thumbnail">
				<img src="http://placehold.it/160x120" alt="John Croft">
				<p>
					<strong>Member:</strong>
				</p>
				<p>
					Ken Needham
				</p>
			</div>
		</li>
		<li class="span2">
			<div class="thumbnail">
				<p class="label label-info" style="position: absolute;">
					Instructor
				</p>
				<img src="http://placehold.it/160x120" alt="John Croft">
				<p>
					<strong>Instructor:</strong>
				</p>
				<p>
					Andrew Dawson
				</p>
			</div>
		</li>
		<li class="span2">
			<div class="thumbnail">
				<p class="label label-info" style="position: absolute;">
					Instructor
				</p>
				<img src="http://placehold.it/160x120" alt="John Croft">
				<p>
					<strong>Instructor:</strong>
				</p>
				<p>
					Dave Sejrup
				</p>
			</div>
		</li>
		<li class="span2">
			<div class="thumbnail">
				<p class="label label-info" style="position: absolute;">
					Instructor
				</p>
				<img src="http://placehold.it/160x120" alt="John Croft">
				<p>
					<strong>Instructor:</strong>
				</p>
				<p>
					John Rogers
				</p>
			</div>
		</li>
		<li class="span2">
			<div class="thumbnail">
				<p class="label label-info" style="position: absolute;">
					Instructor
				</p>
				<img src="http://placehold.it/160x120" alt="John Croft">
				<p>
					<strong>Instructor:</strong>
				</p>
				<p>
					Barry Forrester
				</p>
			</div>
		</li>
	</ul>
</div>
