<%= Navigation("aboutus") %>

<div class="content">
	<h1>Fell Over? Let Us Pick You Up.</h1>
	<p>
		If you can't find the answer to your question below then please email us and we'll do our best to get an answer to
		you. If it's a popular question then we will add it to the list below!
	</p>
	<hr/>
	<h4>The First Steps:</h4>
	<p class="label label-info">
		A few commonly asked questions by new skiiers.
	</p>
	<div class="accordion">
		<!--S-Question 1-S-->
		<div class="accordion-group">
			<div class="accordion-heading bg-trans-white">
				<a href="#" class="accordion-toggle" onclick="$('#collapse_1').collapse('toggle');">I've never skied before, can I still join?</a>
			</div>
			<div id="collapse_1" class="accordion-body collapse">
				<div class="accordion-inner">
					Of course! We welcome all levels of skiers to join our club. If you are a complete beginner then we run lessons,
					in blocks of three weeks, during the ski season that you are welcome to attend once you have joined the club. Check
					the club sessions page for details of the next start date. You may want to arrive 10-15 minutes early to get your skis and boots sorted out.
				</div>
			</div>
		</div>
		<!--E-Question 1-E-->
		<!--S-Question 2-S-->
		<div class="accordion-group">
			<div class="accordion-heading bg-trans-white">
				<a href="#" class="accordion-toggle" onclick="$('#collapse_2').collapse('toggle');">You need to know my weight?</a>
			</div>
			<div id="collapse_2" class="accordion-body collapse">
				<div class="accordion-inner">
					Yes that is true. We need your weight so that the ski bindings can be set correctly. We do have scales at the club but it will save time
					if you have this information readily available.
				</div>
			</div>
		</div>
		<!--E-Question 2-E-->
		<!--S-Question 3-S-->
		<div class="accordion-group">
			<div class="accordion-heading bg-trans-white">
				<a href="#" class="accordion-toggle" onclick="$('#collapse_3').collapse('toggle');">This would be a nice sport to involve the kids. Are there any family sessions?</a>
			</div>
			<div id="collapse_3" class="accordion-body collapse">
				<div class="accordion-inner">
					We provide family ski sessions, about once a month during the Sunday evening session. All skiers must be able to turn and stop safely to ski during these sessions. The dates are advertised in the ski hut on the notice board.
					However there will be no instruction during these sessions.
				</div>
			</div>
		</div>
		<!--E-Question 3-E-->
		<!--S-Question 4-S-->
		<div class="accordion-group">
			<div class="accordion-heading bg-trans-white">
				<a href="#" class="accordion-toggle" onclick="$('#collapse_4').collapse('toggle');">Do you offer snowboarding lessons?</a>
			</div>
			<div id="collapse_4" class="accordion-body collapse">
				<div class="accordion-inner">
					Sorry, but we no longer provide snowboarding lessons as we don’t have any qualified instructors. The nearest slope to provide snowboarding lessons is Runcorn Ski Centre.
				</div>
			</div>
		</div>
		<!--E-Question 4-E-->
	</div>
	<h4>Equipment:</h4>
	<p class="label label-info">
		Boots, Skiis &amp; Gloves!
	</p>
	<div class="accordion">
		<!--S-Question 5-S-->
		<div class="accordion-group">
			<div class="accordion-heading bg-trans-white">
				<a href="#" class="accordion-toggle" onclick="$('#collapse_5').collapse('toggle');">What do I need to wear?</a>
			</div>
			<div id="collapse_5" class="accordion-body collapse">
				<div class="accordion-inner">
					You need to wear gloves and long socks (if you haven’t got ski socks then a pair of football socks will do in the short term).
					Also your arms need to be covered. We provide lessons in all weather so be prepared to be out in the cold and wet!
				</div>
			</div>
		</div>
		<!--E-Question 5-E-->
		<!--S-Question 6-S-->
		<div class="accordion-group">
			<div class="accordion-heading bg-trans-white">
				<a href="#" class="accordion-toggle" onclick="$('#collapse_6').collapse('toggle');">Do you have equipment for hire?</a>
			</div>
			<div id="collapse_6" class="accordion-body collapse">
				<div class="accordion-inner">
					Yes, we have a full range of carver skis and boots for use, which is included in the price.
				</div>
			</div>
		</div>
		<!--E-Question 6-E-->
	</div>
	<h4>What, Where, Why &amp; How:</h4>
	<p class="label label-info">
		The question of questions.
	</p>
	<div class="accordion">
		<!--S-Question 7-S-->
		<div class="accordion-group">
			<div class="accordion-heading bg-trans-white">
				<a href="#" class="accordion-toggle" onclick="$('#collapse_7').collapse('toggle');">How early do I need to arrive?</a>
			</div>
			<div id="collapse_7" class="accordion-body collapse">
				<div class="accordion-inner">
					Please arrive at least 15 minutes before your lesson time. This gives you plenty of time to get your skis
					and boots sorted out, and discuss any issues you may have with the instructors.
				</div>
			</div>
		</div>
		<!--E-Question 7-E-->
		<!--S-Question 8-S-->
		<div class="accordion-group">
			<div class="accordion-heading bg-trans-white">
				<a href="#" class="accordion-toggle" onclick="$('#collapse_8').collapse('toggle');">What happens after I've completed 3 blocks of beginner lessons?</a>
			</div>
			<div id="collapse_8" class="accordion-body collapse">
				<div class="accordion-inner">
					You can continue to ski at the club for as long as you want. For instruction you will be moved to one of the intermediate groups and then after that, who knows!
					We can instruct you up to racing level.
				</div>
			</div>
		</div>
		<!--E-Question 8-E-->
		<!--S-Question 9-S-->
		<div class="accordion-group">
			<div class="accordion-heading bg-trans-white">
				<a href="#" class="accordion-toggle" onclick="$('#collapse_9').collapse('toggle');">Where can we find the club?</a>
			</div>
			<div id="collapse_9" class="accordion-body collapse">
				<div class="accordion-inner">
					We are based at the Oval Sports Centre in Bebington. See the <a href="contact_us.html">contact us</a> page for more details on how to get there.
				</div>
			</div>
		</div>
		<!--E-Question 9-E-->
		<!--S-Question 10-S-->
		<div class="accordion-group">
			<div class="accordion-heading bg-trans-white">
				<a href="#" class="accordion-toggle" onclick="$('#collapse_10').collapse('toggle');">When are you open?</a>
			</div>
			<div id="collapse_10" class="accordion-body collapse">
				<div class="accordion-inner">
					<p>
						From September – June (May for the adults).
					</p>
					<p>
						For juniors on a Saturday morning between 10.00am and 1.00pm (10.00am for 5+ to under 11’s and 11.30am for 11+).
					</p>
					<p>
						For adults on a Sunday evening 5.00pm – 8.00pm. See the club session page for more details.
					</p>
				</div>
			</div>
		</div>
		<!--E-Question 10-E-->
	</div>
</div>
