<%= Navigation("home") %>

<div id="new-articles" class="carousel slide">
	<!-- Carousel items -->
	<div class="carousel-inner">
		<div class="active item">
			<img src="../../assets/ski-sport.jpg" />
			<div class="carousel-caption">
				<h3>Welcome to Oval Ski Club</h3>
				<p>
				The skiing club is based at the dry ski slope, located towards the rear of the Oval Sports Centre, Bebington, Wirral. For more information on locality of the skiing club please visit the Contact Us page. We offer skiing tuition for all ages, an active social club promoting various events through out the year, and also a Ski Racing Team which all members are welcome to join. We are ideally located for the Wirral, Cheshire, Liverpool and Merseyside areas.
				</p>
			</div>
		</div>
	</div>
	<!-- Carousel nav -->
	<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
	<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>

<div class="content">
	<div class="row-fluid">
		<div class="span8">
			<h5>News</h5>
			<h4>2013 Ski Holiday in St.Christoph / St.Anton, Austria</h4>
			<p>
				This years' club holiday will be in the beautiful resort of St.Cristoph. The dates are Saturday 23rd March to 30th March 2013, which is the first week of Easter break. 
			</p>
			<p>Prices are as follows:</p>
			<p>Children under 12 - £490</p>
			<p>Adults &amp; aged 12+ - £590</p>
			<p>
				Price Includes: Half board at 4* chalet-hotel, Free wine with the evening meal, Ski hosting, Return flights from Manchester, Transfers, all taxes &amp; supplements. The holiday is open to all club members, however under 18s should be accompanied by an adult member who will be responsible for them at all times. 
			</p>
			<hr/>
			<h4>Club Closed for the Summer</h4>
			<p>
				The 2011/2012 season has now finished. We will be busy over the summer months maintaining the slope so we are ready to open in September for next season. Check the diary for when we will be open and when we start new beginner lessons. See you then!
			</p>
		</div>
		<div class="span4">
			<table class="table table-condensed">
			  <tr>
			    <th>Session</th>
			    <th>Start Time</th>
			    <th>End Time</th>
			  </tr>
			
			<% @sessions.each do |session| %>
			  <tr>
			    <td><%= session.sessioninfo %></td>
			    <td><%= session.starttime %></td>
			    <td><%= session.endtime %></td>
			  </tr>
			<% end %>
			</table>
		</div>
	</div>
</div>