<%= Navigation("learntoski") %>

<div class="content">
	<div class="row-fluid">
		<div class="span8">
			<img src="../../assets/learntoski.png" />
			<h1>Never Skied Before? Learn Now!</h1>
			<p>
				We provide lessons through out the season to all of our club members including people who have never skied before. For complete beginners these blocks of lessons start approx. every three weeks - see list below for starting dates. So if you are new to skiing and interested in joining the club then just turn up early on the starting date to enrole! See the FAQ page for more information. 
			</p>
			<p>
				The club holds sessions for both Juniors and Adults and covers the full spectrum of ability, from first timers to seasoned racers. Everyone is welcome to join the club to ski. If you are a beginner then please check the diary for the start date of the next set of beginners lessons. 
			</p>
			<p>
				As we are a members only club everyone must join prior to skiing (see costs on the right). This only takes a few minutes and can be done at your first visit. Please remember that we are a voluntary, none profit making organisation, so all money raised through membership is used for equipment, instructor training etc so everyone benefits. You will also receive discounts from various local sports shops. 
			</p>
			<iframe width="620" height="388" src="http://www.youtube.com/embed/yOveLBduJKk" frameborder="0" allowfullscreen> </iframe>
		</div>
		<div class="span4">
			<h5>Annual Membership Fees</h5>
			<p>Junior Membership: £7.00</p>
			<p>Senior Membership: £15.00</p>
			<p>Family Membership: £30.00</p>
			<br/>
			<h5>Session Price</h5>
			<p>Juniors: £5.00 (£2.00 with own kit)</p>
			<p>Seniors: £5.00 (£2.00 with own kit)</p>
			<br/>
			<h5>How To Join</h5>
			<p>
				Joining is simple: just go down to the ski hut during session hours and speak to any one of the committee members or helpers or <a href="../users/register">click here</a> to register now.
			</p>
			<p>
				Membership fees are payable at the start of each season in September.
			</p>
		</div>
	</div>
</div>
