<%= Navigation() %>

<div class="content">
<h1>Editing news</h1>

<%= render 'form' %>

<%= link_to 'Show', @news, :class  => "blue-pill" %>
<%= link_to 'Back', news_index_path, :class  =>  "blue-pill" %>
</div>
